@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "NProgress";
@import "select2";

[lang="ar"] body {
    font-family: 'Almarai', sans-serif;
}

[dir="rtl"] #aside-close {
    @apply transform rotate-180;
}

.dir-rtl {
    direction: rtl;
}

.dir-ltr {
    direction: ltr;
}

/* Placeholder Left */
.placeholder-left::placeholder {
    text-align: left;
}

.placeholder-left:-ms-input-placeholder {
    text-align: left;
}

.placeholder-left::-ms-input-placeholder {
    text-align: left;
}

/* Placeholder Right */
.placeholder-right::placeholder {
    text-align: right;
}

.placeholder-right:-ms-input-placeholder {
    text-align: right;
}

.placeholder-right::-ms-input-placeholder {
    text-align: right;
}

/* Center */
.placeholder-center::placeholder {
    text-align: center;
}

.placeholder-center:-ms-input-placeholder {
    text-align: center;
}

.placeholder-center::-ms-input-placeholder {
    text-align: center;
}

#aside {
    position: fixed;
    top: 0;
    left: -256px;
    width: 256px;
    height: 100%;
    z-index: 99;
    transition: 0.2s;
}

[dir="rtl"] #aside {
    right: -256px;
    left: auto;
}

.aside-open #aside {
    left: 0;
}

[dir="rtl"] .aside-open #aside {
    right: 0;
    left: auto;
}

@media (min-width: 1024px) {
    #aside {
        left: 0;
    }

    [dir="rtl"] #aside {
        right: 0;
        left: auto;
    }
}

#aside > ul > li > a.active {
	@apply bg-brand text-white;
}

#aside > ul > li > a.active:hover {
	@apply bg-brand text-white;
}

#aside > ul > li ul a.active span {
	@apply font-bold;
}