[lang="ar"] body {
    font-family: 'Almarai', sans-serif;
}

[dir="rtl"] #aside-close {
    @apply transform rotate-180;
}

.dir-rtl {
    direction: rtl;
}

.dir-ltr {
    direction: ltr;
}

.snap-x {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.snap-start {
    scroll-snap-align: start;
}